.vs/
.vscode/

bin/
bin-int/

gameboy-emulator.sln

renderer/renderer.vcxproj
renderer/renderer.vcxproj.filters
renderer/renderer.vcxproj.user

emulator/emulator.vcxproj
emulator/emulator.vcxproj.filters
emulator/emulator.vcxproj.user
emulator/*.log
emulator/gb-test-roms-master
emulator/roms

ext/glfw/glfw.vcxproj
ext/glfw/glfw.vcxproj.filters
ext/glfw/glfw.vcxproj.user

ext/spdlog/spdlog.vcxproj
ext/spdlog/spdlog.vcxproj.filters
ext/spdlog/spdlog.vcxproj.spdlog